@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
.App {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.swiper {
    margin: 0 !important;
}

body {
    height: 100vh;
}
@media screen and (max-width: 500px) {
    .App {
        gap: 20px;
        flex-direction: column;
    }
}