.Heading {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.h1 {
  font-size: 40px;
  line-height: 44px;
}
.h2 {
  font-size: 32px;
  line-height: 36px;
}
.h3 {
  font-size: 28px;
  line-height: 34px;
}
.h4 {
  font-size: 24px;
  line-height: 28px;
}

.full {
  opacity: 1;
}
.half {
  opacity: 0.5;
}
.primary {
  color: var(--primary);
}
.black {
  color: var(--black)
}